.action__control{
    display: flex;
    width: 350px;
    justify-content: space-between;
    height: min-content;
    max-height: 40px;
    &_hit{
        background-color: $color-hit;
        @include actionControl;
        &:hover{
            transform: translateY(-3px);
        }
    }

    &_stand {
        background-color: $color-hover-betcontol;
        @include actionControl;
        &:hover{
            transform: translateY(-3px);
        }
    }

    &_double{
        background-color: $color-double-chip;
        @include actionControl;
        &:hover{
            transform: translateY(-3px);
        }
    }
}