.bet__control {
    border: 1px solid #333;
    border-radius: 10px;
    width: 120px;
    background-color: $color-betControl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-size: 2em;
    &__rise {

        &-btn{
            @include btnControl;

            &:hover {
                color: $color-hover-betcontol;
            }
        }        
    }

    &__sum {
        color: #fff;
        margin: 0 10px;
    }

    &__decrease{


        &-btn{
            @include btnControl;
            &:hover {
                color: $color-hover-betcontol;
            }
        }  
    }
}