.card {
    width: 60px;
    height: 100px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    max-width: 60px;
    position: relative;
    perspective: 1000px;


    &__inner {
        
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        animation: flipCard 2s ease;
        animation-fill-mode: forwards ;
    }

    &__front {
        @include cardFrontBackSuit;
    }

    &__back {
        @include cardFrontBackSuit;
        transform: rotateY(180deg);
        border: 1px solid black;
    }

    &__suit {
        width: 100%;
        display: block;

        &--top {
            text-align: left;
            padding-left: 5px;
        }

        &--bottom {
            position: absolute;
            bottom: 5px;
            right: 5px;
            text-align: right;
        }
    }

    &__number {
        position: absolute;
        top: 40%;
        font-size: 1.2em;
    }
    
}

.red {
    color: #FF0000;
}
  
.black {
    color: #000;
}


@keyframes flipCard {
    from{transform: rotateY(0deg);}
    to{transform: rotateY(180deg);}
}