.game{
    height: 90%;
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "dealer  deck"
                        "player chip";
}


.dealer {
    grid-area: dealer;
}

.deck {
    grid-area: deck;
    display: flex;
    justify-content: flex-end;
}

.player {
    grid-area: player;
    display: flex;
    flex-wrap: wrap;
}

.chip {
    grid-area: chip;
    display: flex;
}