.msg{
    background-color: $color-hover-betcontol;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 400px;
}