.msg{
    background-color: $color-hover-betcontol;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    position: absolute;
    top: 80px;
    right: 10px;
    width: 450px;
    max-width: max-content;
}