.money {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.2);
    display: table;
    padding: 5px;
}

#money {
    color: $color-double-chip;
    font-size: 1.2em;
}