@font-face {
    font-family: 'Tagesschrift';
    src: url('tagesschrift.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #ccc;
    font-family: 'Tagesschrift', 'Georgia', serif;
}